/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @font-face {
   font-family: "Pokemon Pixel Font Regular";
   src: asset-url("pokemon_pixel_font.eot?") format("eot"),
        asset-url("pokemon_pixel_font.woff") format("woff"),
        asset-url("../../fonts/pokemon_pixel_font.ttf") format("truetype"),
        asset-url("pokemon_pixel_font.svg#Pokemon-Pixel-Font") format("svg");
   font-weight:normal;
   font-style:normal;
 }


 #root {
   height: 100%;
 }

 li {
   list-style: none;
 }

 .trainer-home-ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

 }

 body {
   font-family: 'Martel Sans', sans-serif;
   height: 100%;
  //  background-image: url(http://i.imgur.com/Vo613Lb.jpg);
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //  background-position: center;
   margin: 0px;
 }

 .basic {
   background-color: rgb(175, 52, 59);

 }

 .Water {
   background-color: rgb(103, 151, 234);
   height: 100%;
 }

 .Grass {
   background-color: rgb(137, 192, 94);
   height: 100%;
 }

 .Fire{
   background-color: rgb(231, 133, 64);
   height: 100%;
 }

 .Normal {
   background-color: rgb(169, 166, 124);
   height: 100%;
 }

 .Fighting {
   background-color: rgb(182, 66, 47);
   height: 100%;
 }

 .Flying {
   background-color: rgb(162, 153, 235);
   height: 100%;
 }

 .Poison {
   background-color: rgb(151, 82, 157);
   height: 100%;
 }

 .Ground {
   background-color: rgb(222, 190, 115);
   height: 100%;
 }

 .Rock {
   background-color: rgb(183, 157, 72);
   height: 100%;
 }

 .Bug {
   background-color: rgb(173, 178, 61);
   height: 100%;
 }

 .Ghost {
   background-color: rgb(108, 95, 148);
   height: 100%;
 }

 .Electric {
   background-color: rgb(246, 205, 79);
   height: 100%;
 }

 .Psychic {
   background-color: rgb(236, 108, 137);
   height: 100%;
 }

 .Ice {
   background-color: rgb(161, 214, 215);
   height: 100%;
 }

 .Dragon {
   background-color: rgb(97, 90, 240);
   height: 100%;
 }

 .splash-page {
   background-color: rgb(175, 52, 59);
 }

 #poke {
   font-family: "Pokemon Pixel Font Regular", Fallback, sans-serif;
   color: rgb(153, 0, 0);
   font-size: 50px;
 }

 #cupid {
   font-family: "Pokemon Pixel Font Regular", Fallback, sans-serif;
   color: rgb(155, 158, 183);
   font-size: 50px;
  //  text-shadow: -1px 0 rgb(153, 0, 0), 0 1px rgb(153, 0, 0), 1px 0 rgb(153, 0, 0), 0 -1px rgb(153, 0, 0);

 }


#login-button {
  color: white;
  background-color: blue;
  border-radius: 10px/10px;
  border-color: white;
  padding: 2px;
}

.splash-img {
  z-index: -100;
  height: 100%;
  width: 100%;
}

.logo {
  height: 100px;
  width: 100px;
  clip: rect(10px, 100px, 100px, 10px);
}

.index-image {
  width: 100% !important;
  height: auto !important;

}

#index-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 150px;
}

#index-item-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.trainer-show-img {
  width: 100% !important;
  height: auto !important;
}

#show-img-container {
  display: flex;
  align-items: center;
  width: 250px;
}

#show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show-info {
  display: flex;
  flex-direction: row;
  background: white;
}

.trainer-index-item {
  background: white;
  width: 300px;
  padding: 3px;
  margin: 5px;
  border-bottom: 3px gray;
  border-right: 3px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  height: 550px;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 20px;
  // font-weight: bold;
  // text-shadow: 1px 1px gray;
}

.sign-up-dropdown {
  -webkit-appearance: menulist-text;
  font-family: 'Martel Sans', sans-serif;
  cursor: pointer;
  padding: 4px;
  color: rgb(175, 52, 59);
  background: white;
  text-align: center;
}

.sign-up-dropdown:hover {
  background: rgb(155, 159, 181);
  transition: background 0.3s ease;
}

.input-text {
  background: rgba(230, 230, 230, .4);
  font-size: 15px;
  border: none;
  color: rgb(175, 52, 59);
}

.input-text:hover {
  background: rgba(230, 230, 230, .7);
}

.input-text:focus {
  background: white;
  font-family: 'Martel Sans', sans-serif;
}

#auth-button {
  border: none;
  padding: 10px;
  font-size: 20px;
  font-family: 'Martel Sans', sans-serif;
  background-color: white;
  color: rgb(175, 52, 59);
  transition: padding 0.3s ease-out, font 0.3s linear;

}

#auth-button:hover {
  cursor: pointer;
  padding: 15px;
  font-size: 24px;
  transition: font 0.3s linear, padding 0.3s ease;
}

#sign-up-bt-div {
  height: 60px;
}

.splash-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

#thumbnail {
  height: 100px;
  width: 100px;
}

#logo-title {
  display: flex;
}

#modal-button {
  padding: 5px;
  background-color: rgb(175, 52, 59);
  font-family: 'Martel Sans', sans-serif;
  font-size: 18px;
  color: white;
  height: 50px;
  border: none;
  transition: padding .3s ease-out;
}

#modal-button:hover {
  padding: 10px;
  transition: padding .3s ease;
  cursor: pointer;
}

#modal-button-div {
  display: flex;
  // flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  // height: 90%;
}


.login-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#login-modal-header {
  font-size: 30px;
  color: rgb(175, 52, 59);
  text-align: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(175, 52, 59);
  font-size: 20px;
}

#auth-button.login-button {
  color: rgb(153, 0, 0);
  border: solid 2px rgba(175, 52, 59, 1);
  font-family: 'Martel Sans', sans-serif;

}

.input-text.input-modal {
  background-color: rgba(175, 52, 59, .5);
  color: white;
  font-size: 15px;
  padding: 5px;
}

.input-text.input-modal:hover {
  background-color: rgba(175, 52, 59, 1);
  transition: background-color .3s ease;
}

.input-text.input-modal:focus {
  background-color: rgba(175, 52, 59, 1);
}

#login-button-container {
  width: 130px;
  height: 60px;
}

.auth-errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: red;
}

.upload-button {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 3px;
}

::-webkit-input-placeholder {
   color: rgba(175, 52, 59, 1);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(175, 52, 59, 1);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(175, 52, 59, 1);
}

:-ms-input-placeholder {
   color: rgba(175, 52, 59, 1);
}
