/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 p {
   margin: 0px;
 }


 @font-face {
   font-family: "Pokemon Pixel Font Regular";
   src: asset-url("pokemon_pixel_font.eot?") format("eot"),
        asset-url("pokemon_pixel_font.woff") format("woff"),
        asset-url("../../fonts/pokemon_pixel_font.ttf") format("truetype"),
        asset-url("pokemon_pixel_font.svg#Pokemon-Pixel-Font") format("svg");
   font-weight:normal;
   font-style:normal;
 }

 *:focus {
   outline: none;
 }

 html {
 }


 #root {
 }

 .nav-bar {
   background-color: white;
   -webkit-box-shadow: 0px 10px 5px 0px rgba(107,107,107,1);
   -moz-box-shadow: 0px 10px 5px 0px rgba(107,107,107,1);
   box-shadow: 0px 10px 5px 0px rgba(107,107,107,1);

   display: flex;
   justify-content: space-between;
 }

 #nav-button-container {
   align-self: flex-end;
   display: flex;
   justify-content: space-around;
   height: 45px;
   width: 30%;
 }

 .nav-button {
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
   width: auto;
   height: 70%;
   border: none;
   color: white;
   background: rgb(175, 52, 59);
 }

 .nav-button:hover {
   background-color: rgb(193, 93, 87);
   transition: background-color 0.3s ease;
 }

 .bubble {
   color: rgb(175, 52, 59);
   background-color: white;
   height: 16px;
   width: 16px;
   padding: 2px;
   margin: 2px;
   border-radius: 200px 200px 200px 200px;
   -moz-border-radius: 200px 200px 200px 200px;
   -webkit-border-radius: 200px 200px 200px 200px;
 }

 #navbar-profile {
   position: relative;
 }

 #navbar-badge {
   cursor: pointer;
   height: 35px;
   width: 35px;
   border-radius: 200px 200px 200px 200px;
   -moz-border-radius: 200px 200px 200px 200px;
   -webkit-border-radius: 200px 200px 200px 200px;
   border: 1px solid black;
 }

 #profile-buttons {
   display: none;
   width: 80px;
   border-radius: 3px 3px 3px 3px;
   -moz-border-radius: 3px 3px 3px 3px;
   -webkit-border-radius: 3px 3px 3px 3px;
 }

 #profile-buttons .nav-button {
   width: 80px;
   height: 24px;
   font-size: 16px;
   border-top: 1px solid black;
 }

 #navbar-profile:hover #profile-buttons {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: absolute;
   z-index: 100;
   right: 1px;
 }

 li {
   list-style: none;
 }

 #tagline {
   font-size: 36px;
 }

 .trainer-home-ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   min-height: 520px;
 }

 #trainer-home-header {
   position: relative;
   font-size: 30px;
   color: white;
   height: 50px;
   top: 10px;
   left: 50px;
 }

 body {
   font-family: 'Martel Sans', sans-serif;

   margin: 0px;

 }

 .basic {
   background-color: rgb(175, 52, 59);
   min-height: 100vh;
 }

 .Water {
   background-color: rgb(103, 151, 234);
   min-height: 100vh;
 }

 .Grass {
   background-color: rgb(137, 192, 94);
   min-height: 100vh;
 }

 .Fire{
   background-color: rgb(231, 133, 64);
   min-height: 100vh;
 }

 .Normal {
   background-color: rgb(169, 166, 124);
   min-height: 100vh;
 }

 .Fighting {
   background-color: rgb(182, 66, 47);
   min-height: 100vh;
 }

 .Flying {
   background-color: rgb(162, 153, 235);
   min-height: 100vh;
 }

 .Poison {
   background-color: rgb(151, 82, 157);
   min-height: 100vh;
 }

 .Ground {
   background-color: rgb(222, 190, 115);
   min-height: 100vh;
 }

 .Rock {
   background-color: rgb(183, 157, 72);
   min-height: 100vh;
 }

 .Bug {
   background-color: rgb(173, 178, 61);
   min-height: 100vh;
 }

 .Ghost {
   background-color: rgb(108, 95, 148);
   min-height: 100vh;
 }

 .Electric {
   background-color: rgb(246, 205, 79);
   min-height: 100vh;
 }

 .Psychic {
   background-color: rgb(236, 108, 137);
   min-height: 100vh;
 }

 .Ice {
   background-color: rgb(161, 214, 215);
   min-height: 100vh;
 }

 .Dragon {
   background-color: rgb(97, 90, 240);
   min-height: 100vh;
 }

 .splash-page {
   background-color: rgb(175, 52, 59);

 }

 #poke {
   font-family: "Pokemon Pixel Font Regular", Fallback, sans-serif;
   color: rgb(153, 0, 0);
   font-size: 50px;
 }

 #cupid {
   font-family: "Pokemon Pixel Font Regular", Fallback, sans-serif;
   color: rgb(155, 158, 183);
   font-size: 50px;
  //  text-shadow: -1px 0 rgb(153, 0, 0), 0 1px rgb(153, 0, 0), 1px 0 rgb(153, 0, 0), 0 -1px rgb(153, 0, 0);

 }

 .nav-bar #cupid {
   font-size: 30px;
 }

 .nav-bar #poke {
   font-size: 30px;
 }

#login-button {
  color: white;
  background-color: blue;
  border-radius: 10px/10px;
  border-color: white;
  padding: 2px;
}

.splash-img {
  z-index: -100;
  height: 100%;
  width: 100%;
}

.logo {
  height: 100px;
  width: 100px;
  clip: rect(10px, 100px, 100px, 10px);
}

.logo:hover {
  cursor: pointer;
}

.logo-nav {
  height: 40px;
  width: 40px;
}

.index-image {
  cursor: pointer;

  border-radius: 52px 52px 52px 52px;
  -moz-border-radius: 52px 52px 52px 52px;
  -webkit-border-radius: 52px 52px 52px 52px;
  border: 2px solid rgb(223, 188, 81);
  transition: border-radius 0.2s ease-out, -moz-border-radius 0.2s ease-out, -webkit-border-radius 0.2s ease-out;
  display: flex;
  // max-width: 250px;
  max-height: inherit;
  // height: 100%;

  // width: 100% !important;
  // height: auto !important;

}

.index-image:hover {
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  transition: border-radius 0.2s ease, -moz-border-radius 0.2s ease, -webkit-border-radius 0.2s ease;
}

#index-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  max-height: 230px;
  max-width: 230px;

  border-bottom: #000000 solid 2px;
}

#index-item-info {

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 18px;
  width: 270px;
  background:  rgba(89, 89, 89, 0.3);
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 1px solid #ccc;
}

.card-info {
  display: flex;
  align-items: center;
  height: auto;
}

#show-img-like {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
  width: 95%;
}

.trainer-show-img {
  // width: 100% !important;
  // height: auto !important;
  max-width: inherit;

  border-radius: 42px 42px 42px 42px;
  -moz-border-radius: 42px 42px 42px 42px;
  -webkit-border-radius: 42px 42px 42px 42px;
  border: 0px solid #000000;
}

#show-img-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  max-height: 500px;
}

#show-page {
  position: relative;
  top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  // background: url(http://i.imgur.com/fWi2nWp.gif) no-repeat center center;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

#show-info {

  display: flex;
  flex-direction: column;
  // margin-top: 40px;
  padding: 20px;
  width: 50%;
  height: 280px;
  justify-content: space-between;
  font-size: 20px;
  background: rgba(89,89,89, 0.5);
  color: white;
  -webkit-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.8);
  -moz-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.8);
  box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.8);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
}

.trainer-show-username {
  font-size: 50px;
  color: white;
  font-family: 'Pokemon Pixel Font Regular';
}

.trainer-show-gender {
  margin-left: 30px;
  font-size: 30px;
  color: white;
}

#trainer-show-header {
  width: 220px;
  display: flex;
  justify-content: center;
}

.trainer-index-item {

  position: relative;
  width: 300px;
  padding: 5px;
  border: rgb(225, 191, 59) solid 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.8);
  -moz-box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.8);
  box-shadow: 10px 10px 15px 1px rgba(0,0,0,0.8);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sign-up-form {
  display: flex;
  justify-content: center;
  height: auto;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 20px;
  padding-bottom: 15px;
  // font-weight: bold;
  // text-shadow: 1px 1px gray;
}

.sign-up-dropdown {
  -webkit-appearance: menulist-text;
  font-family: 'Martel Sans', sans-serif;
  cursor: pointer;
  padding: 4px;
  color: rgb(175, 52, 59);
  background: white;
  text-align: center;
}

.sign-up-dropdown:hover {
  background: rgb(204, 204, 204);
  transition: background 0.3s ease;
}

#trainer-home-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 6px;
}

#search-container {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  color: rgb(175, 52, 59);
  width: 250px;
  height: 30px;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  transition: height .3s linear;
  font-size: 16px;
}

.search-bar:focus {
  height: 35px;
  transition: height 0.3s linear;
}

#all-trainer-button {
  font-family: 'Martel Sans', sans-serif;
  cursor: pointer;
  padding: 4px;
  color: rgb(175, 52, 59);
  background: white;
  text-align: center;
  border: none;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;

}

#all-trainer-button:hover {
  background: rgb(204, 204, 204);
  transition: background 0.3s ease;
}

#filter-container {
  position: relative;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  width: 270px;
  padding: 5px;
}

.input-text {
  background: rgba(230, 230, 230, .4);
  font-size: 15px;
  border: none;
  color: rgb(175, 52, 59);
}

.input-text:hover {
  background: rgba(230, 230, 230, .7);
}

.input-text:focus {
  background: white;
  font-family: 'Martel Sans', sans-serif;
}

#auth-button {
  border: none;
  padding: 10px;
  font-size: 20px;
  font-family: 'Martel Sans', sans-serif;
  background-color: white;
  color: rgb(175, 52, 59);


}

#auth-button:hover {
  cursor: pointer;
  background-color: rgb(204, 204, 204);
  transition: background-color 0.2s linear;
}

#sign-up-bt-div {
  height: 60px;
}

.splash-header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: black 10px solid;

}

#thumbnail {

  max-height: inherit;
}

#logo-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
}

.splash-header > #logo-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 110px;
}

#modal-button {
  padding: 5px;
  background-color: rgb(175, 52, 59);
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  color: white;
  height: 50px;
  border: none;

}

#modal-button:hover {
  cursor: pointer;
  background-color: rgb(193, 93, 87);
  transition: background-color 0.3s ease;
}

#modal-button-div {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  right: 20px;
  // height: 90%;
}


.login-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgba(175,52,58,1) 0%, rgba(175,52,58,1) 50%, rgba(248,80,50,1) 50%, rgba(246,41,12,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 71%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;

}

#login-modal-header {
  font-size: 30px;
  color: white;
  text-align: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(175, 52, 59);
  font-size: 20px;
}

#username {
  color: white;
}

#auth-button.login-button {
  color: rgb(153, 0, 0);
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 5px solid #000000;
  height: 95px;
  width: 95px;
  font-family: 'Martel Sans', sans-serif;

}

.input-text.input-modal.password {
  background-color: rgba(175, 52, 59, .5);
  color: white;
  font-size: 15px;
  padding: 5px;
}

.input-text.input-modal.password:hover {
  color: white;
  background-color: rgba(175, 52, 59, 1);
  transition: background-color .3s ease;
}

.input-text.input-modal.password:focus {
  color: white;
  background-color: rgba(175, 52, 59, 1);
}

.input-text.input-modal.username {
  background-color: rgba(230, 230, 230, .4);
  color: rgba(175, 52, 59, 1);
  font-size: 15px;
  padding: 5px;
}

.input-text.input-modal.username:hover {
  background-color: rgba(230, 230, 230, 1);
  transition: background-color .3s ease;
}

.input-text.input-modal.username:focus {
  background-color: rgba(230, 230, 230, 1);
  color: rgba(175, 52, 59, 1);
}


#login-button-container {
  width: 95px;
  height: 95px;
}

.auth-errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: red;
}

.upload-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-height: 100px;
  width: 260px;
  padding: 3px;

}

#upload-button-container-container {
  min-height: 105px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#upload-button {
  cursor: pointer;
  color: rgb(175, 52, 59);
  border: none;
  background: white;
  height: 30px;
  width: 98px;
}

.like-button {
  position: absolute;
  left: 15px;
  top: 40px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border: none;
  -webkit-box-shadow: 0px 95px 83px -78px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 95px 83px -78px rgba(0,0,0,0.75);
  box-shadow: 0px 95px 83px -78px rgba(0,0,0,0.75);
}

.dislike-button {
  position: absolute;
  cursor: pointer;
  left: 15px;
  top: 40px;
  height: 60px;
  width: 60px;
  border: none;
  -webkit-box-shadow: 0px 95px 83px -78px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 95px 83px -78px rgba(0,0,0,0.75);
  box-shadow: 0px 95px 83px -78px rgba(0,0,0,0.75);
  animation: shake 1s infinite;

}

.card-name {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  // border-radius: 8px 8px 8px 8px;
  // -moz-border-radius: 8px 8px 8px 8px;
  // -webkit-border-radius: 8px 8px 8px 8px;
  // background: rgba(0,0,0, 0.2);

}

#badge {
  height: 30px;
  width: 30px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
}


#Water {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=6797eaff&noise=ffffff&density=39&opacity=78);
}

#Grass {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=89c05eff&noise=ffffff&density=39&opacity=78);
}

#Fire {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=e78540ff&noise=ffffff&density=39&opacity=78);
}

#Normal {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=a9a67cff&noise=ffffff&density=39&opacity=78);
}

#Fighting {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=b6422fff&noise=ffffff&density=39&opacity=78);
}

#Flying {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=a299ebff&noise=ffffff&density=39&opacity=78);
}

#Poison {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=97529dff&noise=ffffff&density=39&opacity=78);
}

#Ground {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=debe73ff&noise=ffffff&density=39&opacity=78);
}

#Rock {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=b79d48ff&noise=ffffff&density=39&opacity=78);
}

#Bug {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=adb23dff&noise=ffffff&density=39&opacity=78);
}

#Ghost {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=6c5f94ff&noise=ffffff&density=39&opacity=78);
}

#Electric {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=f6cd4fff&noise=ffffff&density=39&opacity=78);
}

#Psychic {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=ec6c89ff&noise=ffffff&density=39&opacity=78);
}

#Ice {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=a1d6d7ff&noise=ffffff&density=39&opacity=78);
}

#Dragon {
  background-image: url(http://api.thumbr.it/whitenoise-300x464.png?background=615af0ff&noise=ffffff&density=39&opacity=78);
}


::-webkit-input-placeholder {
   color: rgba(175, 52, 59, 1);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(175, 52, 59, 1);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(175, 52, 59, 1);
}

:-ms-input-placeholder {
   color: rgba(175, 52, 59, 1);
}

@keyframes shake {
  0% { transform: translate(0, 0) rotate(0); }
  20% { transform: translate(-2px, 0) rotate(-10deg); }
  30% { transform: translate(2px, 0) rotate(10deg); }
  50% { transform: translate(-2px, 0) rotate(-10deg); }
  60% { transform: translate(2px, 0) rotate(10deg); }
  100% { transform: translate(0, 0) rotate(0); }
}
